# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Model Files
trained_model/
*.pth
*.pt

# Dataset
dataset/